@import "tailwindcss";

@theme {
  --color-primary: hsl(0, 66%, 55%);
  --color-secondary: hsl(0, 51%, 71%);
  --color-accent: hsl(0, 53%, 60%);
  --color-text: hsl(0, 41%, 8%);
  --color-background: hsl(0, 47%, 97%);
  --color-muted: hsl(0, 10%, 50%);
}

:root {
  --color-primary: hsl(0, 66%, 55%);
  --color-secondary: hsl(0, 51%, 71%);
  --color-accent: hsl(0, 53%, 60%);
  --color-text: hsl(0, 41%, 8%);
  --color-background: hsl(0, 47%, 97%);
  --color-muted: hsl(0, 10%, 50%);
}

body {
  background-color: var(--color-background);
}

button {
  @apply cursor-pointer;
}

.todo {
  @apply flex justify-between items-center w-full py-4 border-b-1 border-[#ccc] cursor-pointer;

  &:hover .actions {
    @apply flex;
  }

  .actions {
    @apply hidden flex gap-4 items-center;
  }

  .actions button {
    @apply w-4 h-4 text-muted;

    &:hover {
      @apply text-primary;
    }
  }
}
