@import "tailwindcss";

@theme {
  --color-primary: hsl(0, 66%, 55%);
  --color-secondary: hsl(0, 51%, 71%);
  --color-accent: hsl(0, 53%, 60%);
  --color-text: hsl(0, 41%, 8%);
  --color-background: hsl(0, 47%, 97%);
}

:root {
  --color-primary: hsl(0, 66%, 55%);
  --color-secondary: hsl(0, 51%, 71%);
  --color-accent: hsl(0, 53%, 60%);
  --color-text: hsl(0, 41%, 8%);
  --color-background: hsl(0, 47%, 97%);
}

body {
  background-color: var(--color-background);
}
